.trial-button {
  position: absolute;
  width: 540px;
  height: 60px;
  left: 1250px;
  top: 315px;
  font-family: 'Poppins', sans-serif;
  background-color: #5e54a4;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.27px;
  box-shadow: 0 10px 10px -6px #3e3c49;
}

.trial-button span {
  font-weight: 500;
}
